<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.planner.planner.Mapper.PasswordResetKeyMapper">
	<insert id="createPasswordResetKey">
		INSERT INTO password_reset_key(reset_key, account_id, expire_date) VALUES 
		(
			#{key}, 
			#{accountId}, 
			TIMESTAMPADD(DAY, 1, NOW())
		);
	</insert>
	
	<select id="findByResetKey" resultType="PasswordResetKeyDto">
		SELECT 
			id, 
			reset_key, 
			account_id, 
			expire_date, 
			create_date 
		FROM password_reset_key 
		WHERE reset_key = #{key};
	</select>
	
	<delete id="deleteByResetKey">
		DELETE FROM password_reset_key 
		WHERE reset_key = #{key};
	</delete>
</mapper>