<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.planner.planner.Mapper.PlanMapper">
	<insert id="insertPlan" parameterType="PlanDto" useGeneratedKeys="true" keyColumn="plan_Id" keyProperty="planDto.planId">
		INSERT INTO plan (plan_date, planner_id, plan_index) VALUES
		(
			#{planDto.planDate}, 
			#{plannerId}, 
			(SELECT ifnull(MAX(p.plan_index), 0) + 1024 
			 FROM plan AS p 
			 WHERE p.planner_id = #{plannerId})
		);
	</insert>
	
	<select id="findPlanListByPlannerId" resultSets="PlanDto">
		SELECT plan.plan_id, plan.plan_date, plan.plan_index, plan.planner_id 
		FROM plan 
		WHERE plan.planner_id = #{plannerId}
		ORDER BY plan_index;
	</select>
	
	<update id="updatePlan">
		UPDATE plan 
		SET 
			plan.plan_date = #{planDto.planDate}, 
			plan.plan_index = #{planDto.planIndex} 
		WHERE plan.plan_id = #{planId};
	</update>
	
	<delete id="deletePlan">
		DELETE FROM plan 
		WHERE plan.plan_id = #{planId};
	</delete>
</mapper>
